#root {
  min-height: 100vh;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms; */
  /* visibility: hidden; */
  /* opacity: 0; */
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 20vw;
  min-height: 20vh;
  margin: 70px auto;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  background-color: #fff;
  color: #333;
  border: 1px #1a1a1a solid;
  /* transition: all 5s ease-in-out; */
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.done {
  text-decoration: overline;
}
/* pagination css */

.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: rgba(255, 255, 255, 0.08);
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(255, 255, 255, 0.87);
  border-top: 0.12em solid rgba(255, 255, 255, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(255, 255, 255, 0.43);
  border-top: 0.12em solid rgba(255, 255, 255, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

.notification-list {
  display: flex;
  position: fixed;
  z-index: 50;
  margin: 1rem;
  flex-direction: column;
  pointer-events: none;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .notification-list {
    margin: 2rem;
  }
}

.notification-item-container {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 100ms;
  font-size: 0.875rem;
  line-height: 1.25rem;
  align-items: center;
  width: max-content;
  border-radius: 0.25rem;
  border-width: 1px;
  pointer-events: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* .notification-item-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
} */


.notification-text {
  font-weight: 500; 
max-width: 24rem; 
}

.notification-exit {
  padding-left: 1rem; 

}

.notification-exit-icon {
  padding: 0.25rem; 
transition-property: background-color, border-color, color, fill, stroke; 
transition-duration: 100ms; 
border-radius: 0.25rem; 
}
.bottom-right{ 
  right: 0; 
bottom: 0; 
align-items: flex-end; 
}
.success{
  background-color: rgb(134 239 172);
  border-color: rgb(22 163 74);
}
